#build folder
cmake-build-build/
*.exe
#build libarary except vulkanSDK
Lib
!Engine/Include/vulkanSDK/lib
!Assets/mono/lib
#self define config file except skybox config file
*.zConf
!Projects/Test001/Assets/Textures/skybox/skybox.zConf
#jetbrain toolchain config folder
.idea/
#temp file
*.ilk
*.pdb
*.idb
#visual studio config folder
.vs
#temp build folder
build/
#local shader cache files
*.shaderc_glsl_vertex_shader
*.shaderc_glsl_fragment_shader
#a test folder
Application
#build dynamic libraries
Bin-C
