[submodule "Engine/Include/imgui"]
	path = Engine/Include/imgui
	url = https://github.com/zjypls/imgui.git
[submodule "Engine/Include/glfw"]
	path = Engine/Include/glfw
	url = https://github.com/zjypls/glfw.git
[submodule "Engine/Include/spdlog"]
	path = Engine/Include/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "Engine/Include/stb"]
	path = Engine/Include/stb
	url = https://github.com/nothings/stb.git
[submodule "Engine/Include/glm"]
	path = Engine/Include/glm
	url = https://github.com/g-truc/glm.git
[submodule "Engine/Include/yaml-cpp"]
	path = Engine/Include/yaml-cpp
	url = https://github.com/zjypls/yaml-cpp
[submodule "Engine/Include/ImGuizmo"]
	path = Engine/Include/ImGuizmo
	url = https://github.com/CedricGuillemet/ImGuizmo.git
[submodule "Engine/Include/box2d"]
	path = Engine/Include/box2d
	url = https://github.com/zjypls/box2d.git
