#build folder
cmake-build-*/
*.exe
#build libarary except vulkanSDK
Lib
!Engine/Include/vulkanSDK/lib
!Assets/mono/lib
#self define config file except skybox config file
*.zConf
!Projects/Test001/Assets/Textures/skybox/skybox.zConf
#jetbrain toolchain config folder
.idea/
#temp file
*.ilk
*.pdb
*.idb
#visual studio config folder
.vs
#temp build folder
build/
build-*/
#local shader cache files
ShaderCaches
*.shaderc_glsl_vertex_shader
*.shaderc_glsl_fragment_shader
#a test folder
Application
#build dynamic libraries
bin/*.exe
bin/*.pdb
bin/ZEditor
!bin/scripts.dll
!bin/ScriptsCore.dll
#other config files
.clang-tidy
#mono crash json file
mono_crash*
#batch file
*.bat
*.sh
